.App {
  font-family: sans-serif;
  text-align: center;
}
.color-button {
  width: 200px;
  height: 50px;
  border: none;
  cursor: pointer;
}
.color-button:hover {
  opacity: 0.8;
}
.color-button:disabled {
  cursor: not-allowed;
}
